@model List<TvTamer.Core.Models.TvEpisode>
    
<table class="table  table-striped" id="episodes">
    <tr><th>Series</th><th>Season/Episode Number</th><th>Episode Name</th><th>Air Date</th><th>Download Status</th></tr>
    @foreach (var episode in Model)
    {
        <tr>
            <td style="width: 200px;"><b>@episode.SeriesName</b></td>
            <td>@( string.Format("S{0:D2}E{1:D2}", episode.Season, episode.EpisodeNumber) ) </td>
            <td>
                <b>@episode.Title</b>
                <p class="small">
                    @episode.Summary
                </p>
            </td>
            <td class="text-nowrap">@episode.FirstAired.ToString("MMM dd, yyyy")</td>
            <td>
                @Html.Partial("_DownloadStatusToggle", episode)
            </td>
        </tr>

    }
</table>
