@using TvTamer.Web
@model TvTamer.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
<p></p>
<canvas id="activityChart" class="jumbotron" style="max-height: 450px; height: 450px;"></canvas>

<div class="row">
    <div class="col-md-4">
        <h2>Today's Episodes</h2>
        @if (!Model.TodaysEpisodes.Any())
        {
            <p>No episodes today.</p>
            <p><a href="http://www.tvguide.com/new-tonight/">Look for something new to watch.</a>
            </p>
        }
        else
        {
            <ul id="todays-episodes" class="episode-list">
                @foreach (var episode in Model.TodaysEpisodes)
                {
                    <li>
                        <a href="/show/details/@episode.SeriesId/@episode.SeriesName.ToSlug()">@episode.SeriesName</a>
                        (@( string.Format("S{0:D2}E{1:D2}", episode.Season, episode.EpisodeNumber) ))<br/>
                        @episode.Title
                    </li>
                }
            </ul>
            <p><a class="btn btn-default" href="/this-week">More Episodes &raquo;</a>
            </p>
        }
    </div>
    <div class="col-md-4">
        <h2>Recently Downloaded Episodes</h2>
        @if (!Model.RecentlyDownloadedEpisodes.Any())
        {
            <p>No download founds.</p>
        }
        else
        {
            <ul id="recent-episodes" class="episode-list">
                @foreach (var episode in Model.RecentlyDownloadedEpisodes)
                {
                    <li>
                        <a href="/show/details/@episode.SeriesId/@episode.SeriesName.ToSlug()">@episode.SeriesName</a>
                        (@( string.Format("S{0:D2}E{1:D2}", episode.Season, episode.EpisodeNumber) ))<br />
                        @episode.Title
                    </li>
                }
            </ul>
        }
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $.ajax({
            url: "/analytics/getrecentactivity",
            success: function(recentActivity) {
                var chartData = {
                    labels: recentActivity.DaysOfWeek,
                    datasets: [
                        {
                            label: "Episode Search Attempts",
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                            data: recentActivity.SearchAttempts
                        },
                        {
                            label: "Episode Search Failures",
                            fillColor: "rgba(220,0,0,0.5)",
                            strokeColor: "rgba(220,0,0,0.8)",
                            highlightFill: "rgba(220,0,0,0.75)",
                            highlightStroke: "rgba(220,0,0,1)",
                            data: recentActivity.SearchFailures
                        },
                        {
                            label: "Episode Downloads",
                            fillColor: "rgba(242,172,22,0.5)",
                            strokeColor: "rgba(242,172,22,0.8)",
                            highlightFill: "rgba(242,172,22,0.75)",
                            highlightStroke: "rgba(242,172,22,1)",
                            data: recentActivity.EpisodeDownloads
                        },
                        {
                            label: "Processed Episodes",
                            fillColor: "rgba(79,214,88,0.5)",
                            strokeColor: "rgba(79,214,88,0.8)",
                            highlightFill: "rgba(79,214,88,0.75)",
                            highlightStroke: "rgba(79,214,88,1)",
                            data: recentActivity.ProcessedEpisodes
                        }
                    ]
                };

                var options = {
                    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
                };


                var ctx = $("#activityChart").get(0).getContext("2d");
                var myBarChart = new Chart(ctx).Bar(chartData, options);
            },
            error: function(e) {
                alert(e);
            }
        });
    </script>
}
